fastapi==0.111.0
uvicorn[standard]==0.30.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
pillow==10.3.0
insightface==0.7.3
onnxruntime==1.18.0
scikit-learn==1.4.2
redis==5.0.4
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1
faiss-cpu==1.8.0
